In [1]:
from services.notebook.model_loader import ModelLoader
import services.adapters.sqlite_adapter as sa
from services.discovery.dataset_discovery import EventDatasetDiscovery
from tests.samples.sources import SIMPLE_CSV
from datetime import datetime

adapter = sa.SQLiteAdapter(SIMPLE_CSV)
discovery = EventDatasetDiscovery(
    SIMPLE_CSV, adapter, datetime(2020, 2, 1), datetime(2020, 1, 1)
)
dd = discovery.discover_dataset()
ml = ModelLoader()
m = ml.create_dataset_model(dd)
m._to_globals(globals())

services.notebook.model_loader._dataset_model

In [3]:
(any_event).segmentation(time_group="day").get_df()

              datetime group  unique_user_count  event_count
0  2020-01-01 00:00:00  None                581         1556